<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd 
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd 
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd">

    <!-- 包扫描 一定不要放大controller层的包扫描的路径,如果扫描到了service层,那么事务就没法控制了 -->
    <context:component-scan base-package="net.beeway.emer.controller"></context:component-scan>

    <!-- 读取配置文件 -->
    <!--<context:property-placeholder location="classpath:*.properties" />-->

    <!-- 配置springMVC以注解的方式来运行,相当于处理器映射器与处理器适配器 -->
    <mvc:annotation-driven></mvc:annotation-driven>

    <!-- 配置资源视图解析器 -->
    <bean
            class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!--释放静态资源-->
    <mvc:default-servlet-handler/>

    <!-- 定时任务  -->
   <!-- <task:annotation-driven/>-->
</beans>